.banner {
  width: 100%;
  height: 480px;
  background: url("../images/bg_1.png");
}

.banner .bannercenter {
  position: relative;
  width: 1200px;
  height: 480px;
}

.banner .bannercenter .slide {
  position: absolute;
  left: 285px;
  width: 780px;
  height: 480px;
}

.banner .bannercenter .slide ul {
  width: 780px;
  height: 480px;
}

.banner .bannercenter .slide ul li {
  width: 780px;
  height: 480px;
  float: left;
  display: none;
}

.banner .bannercenter .slide ul li a {
  display: inline-block;
  width: 780px;
  height: 480px;
}

.banner .bannercenter .slide ul li .banner1 {
  background-image: url("http://img.coopbuy.com//Plat/ImageAd/20170915095342422188.png");
}

.banner .bannercenter .slide ul li .banner2 {
  background-image: url("http://img.coopbuy.com//Plat/ImageAd/20170911092146578857.png");
}

.banner .bannercenter .slide ul li .banner3 {
  background-image: url("http://img.coopbuy.com//Plat/ImageAd/20170901093939118683.png");
}

.banner .bannercenter .slide ul li .banner4 {
  background-image: url("http://img.coopbuy.com//Plat/ImageAd/20170902071049115114.png");
}

.banner .bannercenter .slide ul .active {
  display: block;
}

.banner .bannercenter .slide .slide-bar {
  width: 150px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  left: 46%;
}

.banner .bannercenter .slide .slide-bar span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 6px;
  border-radius: 50%;
  background: #fff;
  vertical-align: middle;
}

.banner .bannercenter .slide .slide-bar .bar {
  border: 3px solid #fff;
  background-color: transparent;
}

.banner .bannercenter .wrap {
  overflow: hidden;
  width: 212px;
  height: 480px;
  position: absolute;
  right: -80px;
  top: 0;
  background: #fff;
  border: 1px solid #ccc;
}

.banner .bannercenter .wrap .wrapbox {
  width: 212px;
  height: 409px;
}

.banner .bannercenter .wrap .wrapbox .wraptop {
  width: 178px;
  height: 210px;
  margin: 0 17px;
  border-bottom: 1px dashed #666;
}

.banner .bannercenter .wrap .wrapbox .wraptop .picture {
  width: 72px;
  height: 72px;
  position: relative;
  top: 30px;
  margin: 0 auto;
  border: 1px dashed #525252;
  border-radius: 50%;
  overflow: hidden;
}

.banner .bannercenter .wrap .wrapbox .wraptop .picture a img {
  position: absolute;
  left: 0;
  right: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.banner .bannercenter .wrap .wrapbox .wraptop span {
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 100%;
  margin-top: 40px;
  color: #666;
}

.banner .bannercenter .wrap .wrapbox .wraptop a {
  display: block;
  width: 93px;
  height: 22px;
  margin: 0 auto;
  text-align: center;
  line-height: 22px;
}

.banner .bannercenter .wrap .wrapbox .wraptop .login {
  background: #91BE16;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 6px;
}

.banner .bannercenter .wrap .wrapbox .wrapbottom {
  width: 178px;
  height: 199px;
  margin: 0 auto;
}

.banner .bannercenter .wrap .wrapbox .wrapbottom .wrapul {
  width: 178px;
  height: 45px;
  border-bottom: 1px solid #ddd;
}

.banner .bannercenter .wrap .wrapbox .wrapbottom .wrapul li {
  width: 46px;
  height: 45px;
  float: left;
  line-height: 45px;
  text-align: center;
}

.banner .bannercenter .wrap .wrapbox .wrapbottom .wrapul .listyle {
  border-bottom: 1px solid #F57A11;
}

.banner .bannercenter .wrap .wrapbox .wrapbottom .tap {
  width: 178px;
  height: 145px;
}

.banner .bannercenter .wrap .wrapbox .wrapbottom .tap ul {
  width: 178px;
  height: 145px;
}

.banner .bannercenter .wrap .wrapbox .wrapbottom .tap ul li {
  line-height: 29px;
}

.banner .bannercenter .wrap .wrapbox .wrapbottom .tap ul li a {
  display: block;
  width: 178px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner .bannercenter .wrap .recharge {
  width: 212px;
  height: 71px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.banner .bannercenter .wrap .recharge li {
  float: left;
  width: 52px;
  height: 71px;
  border-left: 1px solid #ccc;
}

.banner .bannercenter .wrap .recharge li span {
  display: inline-block;
  width: 50px;
  height: 40px;
}

.banner .bannercenter .wrap .recharge li .sp1 {
  background: url("../images/icon.png") no-repeat;
}

.banner .bannercenter .wrap .recharge li .sp2 {
  background: url("../images/icon.png") no-repeat 5px -38px;
}

.banner .bannercenter .wrap .recharge li .sp3 {
  background: url("../images/icon.png") no-repeat 5px -72px;
}

.banner .bannercenter .wrap .recharge li .sp4 {
  background: url("../images/icon.png") no-repeat 10px -155px;
  position: relative;
}

.banner .bannercenter .wrap .recharge li p {
  margin-top: 4px;
  text-align: center;
  color: #B77D95;
}

.banner .bannercenter .wrap .recharge .sp {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background: url("../images/icon.png") no-repeat -5px -200px;
}

.banner .bannercenter .wrap .hovershow {
  z-index: 999;
  display: none;
  width: 212px;
  height: 259px;
  position: absolute;
  bottom: -259px;
  border: 1px solid #666;
  left: 0;
}

.banner .bannercenter .wrap .hovershow .taptop {
  width: 212px;
  height: 43px;
  background: #fff;
}

.banner .bannercenter .wrap .hovershow .taptop li {
  border: 1px solid #91BF17;
  border-bottom: 0;
  border-right: 0;
  width: 105px;
  height: 41px;
  float: left;
  text-align: center;
  line-height: 41px;
}

.banner .bannercenter .wrap .hovershow .taptop .tapaction {
  border-top: 0;
  border-bottom: 1px solid #91BF17;
}

.banner .bannercenter .wrap .hovershow .do {
  width: 210px;
  height: 216px;
  background: #fff;
  border: 1px solid #90BE15;
  border-top: 0;
  position: relative;
}

.banner .bannercenter .wrap .hovershow .do .do1 {
  width: 212px;
  height: 216px;
}

.banner .bannercenter .wrap .hovershow .do .do1 p {
  width: 212px;
  height: 20px;
  position: relative;
}

.banner .bannercenter .wrap .hovershow .do .do1 p a {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.banner .bannercenter .wrap .hovershow .do .do1 .doNav {
  width: 210px;
  height: 26px;
  margin-bottom: 10px;
}

.banner .bannercenter .wrap .hovershow .do .do1 .doNav a {
  height: 20px;
  width: 58px;
  background: #91BE16;
  text-align: center;
  color: #fff;
  margin-left: 10px;
  font-size: 14px;
  position: relative;
}

.banner .bannercenter .wrap .hovershow .do .do1 .doNav a:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #91be16;
  position: absolute;
  bottom: -10px;
  left: 18px;
  z-index: 1;
}

.banner .bannercenter .wrap .hovershow .do .do1 .pay {
  width: 210px;
  height: 130px;
}

.banner .bannercenter .wrap .hovershow .do .do1 .pay ul {
  width: 190px;
  margin: 0 auto;
}

.banner .bannercenter .wrap .hovershow .do .do1 .pay ul li {
  color: #666;
  margin-bottom: 20px;
}

.banner .bannercenter .wrap .hovershow .do .do1 .pay ul .pay1 input {
  width: 105px;
  height: 20px;
  border: 1px solid #ccc;
  color: #E9C6B1;
  font-size: 12px;
}

.banner .bannercenter .wrap .hovershow .do .do1 .pay ul .pay2 select {
  width: 80px;
  height: 20px;
}

.banner .bannercenter .wrap .hovershow .do .do1 .pay ul .pay2 .need {
  margin-left: 40px;
  color: #666;
}

.banner .bannercenter .wrap .hovershow .do .do1 .pay ul .sure {
  width: 68px;
  height: 28px;
  line-height: 25px;
  color: #fff;
  background: #90BE15;
  margin-left: 23px;
  border-radius: 3px;
  cursor: pointer;
}

.banner .bannercenter .wrap .hovershow .do .do2 {
  display: none;
  width: 212px;
  height: 216px;
  position: absolute;
  left: 0;
  top: 0;
}

.banner .bannercenter .wrap .hovershow .do .do2 p {
  width: 212px;
  height: 20px;
  position: relative;
}

.banner .bannercenter .wrap .hovershow .do .do2 p a {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.banner .bannercenter .wrap .hovershow .do .do2 .pays {
  width: 164px;
  margin: 0 auto;
}

.banner .bannercenter .wrap .hovershow .do .do2 .pays p {
  height: 20px;
  margin: 5px 0;
  color: #666;
}

.banner .bannercenter .wrap .hovershow .do .do2 .pays p select {
  width: 75px;
  height: 20px;
  color: #666;
}

.banner .bannercenter .wrap .hovershow .do .do2 .pays ul li {
  margin-top: 20px;
  color: #666;
  margin-bottom: 6px;
}

.banner .bannercenter .wrap .hovershow .do .do2 .pays ul input {
  display: inline-block;
  width: 165px;
  height: 20px;
}

.banner .bannercenter .wrap .hovershow .do .do2 .pays .sure1 {
  width: 68px;
  height: 28px;
  line-height: 25px;
  color: #fff;
  background: #90BE15;
  margin: 10px 0 0 3px;
  border-radius: 3px;
  cursor: pointer;
}

.content {
  width: 1200px;
  margin: 27px auto 0;
}

.content .clearfix {
  width: 1200px;
  height: 324px;
}

.content .clearfix ul li {
  float: left;
}

.content .clearfix ul .ml5 {
  margin-left: 5px;
}

.content .floors {
  width: 1200px;
}

.content .floors .floor1 {
  margin-top: 20px;
}

.content .floors .floor1 .floor1tittle, .content .floors .floor1 .floor2tittle, .content .floors .floor1 .floor3tittle, .content .floors .floor1 .floor4tittle, .content .floors .floor1 .floor5tittle, .content .floors .floor1 .floor6tittle, .content .floors .floor1 .floor7tittle {
  width: 1200px;
  height: 25px;
}

.content .floors .floor1 .floor1tittle h2, .content .floors .floor1 .floor2tittle h2, .content .floors .floor1 .floor3tittle h2, .content .floors .floor1 .floor4tittle h2, .content .floors .floor1 .floor5tittle h2, .content .floors .floor1 .floor6tittle h2, .content .floors .floor1 .floor7tittle h2 {
  margin-left: 17px;
  font-size: 18px;
  font-weight: bolder;
  color: #fff;
}

.content .floors .floor1 .floor1tittle ul li, .content .floors .floor1 .floor2tittle ul li, .content .floors .floor1 .floor3tittle ul li, .content .floors .floor1 .floor4tittle ul li, .content .floors .floor1 .floor5tittle ul li, .content .floors .floor1 .floor6tittle ul li, .content .floors .floor1 .floor7tittle ul li {
  float: left;
  height: 17px;
  line-height: 17px;
  position: relative;
  margin-top: 3px;
}

.content .floors .floor1 .floor1tittle ul li a, .content .floors .floor1 .floor2tittle ul li a, .content .floors .floor1 .floor3tittle ul li a, .content .floors .floor1 .floor4tittle ul li a, .content .floors .floor1 .floor5tittle ul li a, .content .floors .floor1 .floor6tittle ul li a, .content .floors .floor1 .floor7tittle ul li a {
  margin: 4px 20px;
  font-size: 14px;
  color: #fff;
}

.content .floors .floor1 .floor1tittle ul li:hover, .content .floors .floor1 .floor2tittle ul li:hover, .content .floors .floor1 .floor3tittle ul li:hover, .content .floors .floor1 .floor4tittle ul li:hover, .content .floors .floor1 .floor5tittle ul li:hover, .content .floors .floor1 .floor6tittle ul li:hover, .content .floors .floor1 .floor7tittle ul li:hover {
  background: #BA9966;
}

.content .floors .floor1 .floor1tittle {
  background: #BC8D3F;
}

.content .floors .floor1 .floor2tittle {
  background: #478A80;
}

.content .floors .floor1 .floor3tittle {
  background: #90604A;
}

.content .floors .floor1 .floor4tittle {
  background: #966844;
}

.content .floors .floor1 .floor5tittle {
  background: #707A58;
}

.content .floors .floor1 .floor6tittle {
  background: #884818;
}

.content .floors .floor1 .floor7tittle {
  background: #768F00;
}

.content .floors .floor1 .floor1main {
  position: relative;
  width: 1200px;
  height: 485px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.content .floors .floor1 .floor1main .side {
  float: left;
  width: 205px;
  height: 480px;
  background: url(../images/floor1/ts-01.png) no-repeat;
  margin-top: 5px;
}

.content .floors .floor1 .floor1main .side ul {
  position: relative;
  top: 330px;
  width: 162px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
}

.content .floors .floor1 .floor1main .side ul li {
  float: left;
  width: 80px;
  height: 45px;
  background-color: #fff;
  margin: 0 1px 1px 0;
}

.content .floors .floor1 .floor1main .side ul li a {
  display: block;
  width: 75px;
  height: 45px;
  padding-top: 7px;
}

.content .floors .floor1 .floor1main .main-bg {
  float: left;
  width: 392px;
  height: 485px;
  border-bottom: 1px solid #eee;
}

.content .floors .floor1 .floor1main .main-ul-4 {
  float: left;
  width: 402px;
  height: 485px;
}

.content .floors .floor1 .floor1main .main-ul-4 li {
  float: left;
  width: 200px;
  height: 242px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.content .floors .floor1 .floor1main .main-ul-3 {
  float: left;
  width: 201px;
  height: 485px;
}

.content .floors .floor1 .floor1main .main-ul-3 li {
  width: 200px;
  height: 161px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.floor-nav {
  background: #fff;
  position: fixed;
  display: none;
  width: 37px;
  top: 41%;
  left: 18px;
}

.floor-nav ul li {
  width: 35px;
  height: 49px;
  background-color: #d2d2d2;
  margin-top: 1px;
}

.floor-nav ul li a {
  width: 28px;
  height: 26px;
  line-height: 13px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-bottom: none;
  color: #625352;
  cursor: pointer;
  padding: 11px 0;
}

.floor-nav ul .hover {
  background: #91BE16;
}

.floor-nav ul .hover a {
  color: #fff;
}

.floor-nav ul .last {
  height: 35px;
}
