<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>详情</title>
		<link rel="stylesheet" href="../css/common.css">
		<link rel="stylesheet" href="../css/details.css">		
	</head>
	<script type="text/html" id="biglist">
		<div class="w">
			<div class="tittle">
				<strong>
					<a href="javascipt:void(0)">服饰内衣</a>
				</strong>
				<span>
					&nbsp;&gt;&nbsp;<a href="javascipt:void(0)">服饰配件</a>
					&nbsp;&gt;&nbsp;<a href="javascipt:void(0)">配件配饰</a>
					&nbsp;&gt;&nbsp;
					<a href="javascipt:void(0)"><%= data.name %></a>
				</span>
			</div>
		</div>
		<div class="w">
			<div class="product">
				<div class="name">
					<h2><%= data.name %>  </h2>
				</div>
				<div class="dets">
					<ul class="summary">
						<li id="sum-price">
							<div class="t">
								<div class="tpri fl">价格</div>
								<strong class="tprice fl">￥
									<span class="tpspan">
										<%= data.span  %>
									</span> 
								</strong>
								<div class="hide" style="display:none">
									<%= data.id  %>
								</div>
								<i class="pt fr">72h内发货</i>									
							</div>
							<div class="b">
								<div class="b1">
									销量 &nbsp;&nbsp;<a id="saleCounts">0</a>
								</div>
								<div class="b1">
									评价 &nbsp;&nbsp;<a id="saleCounts">0</a>
								</div>
								<div class="b2 fl">评分：</div>
								<div class="b3 fl">
									<span class="details-sprites"></span>
								</div>
							</div>
						</li>
						<li id="summary-promotion"></li>
						<li class="summary-service">
							<span class="sp">库存：</span>
							<span class="sp1 fl">有货，下单后立即发货</span>
						</li>
						<li class="summary-service bt">
							<span class="sp">物流：</span>
							<div class="sp2 fl">
								<span>配送</span>至 &nbsp; 
								<a class="address-choose" id="addressChoose" data-select="">贵州 贵阳市 观山湖区 城区</a>
								<span id="spFreight"> &nbsp;| &nbsp;按实际情况收取&nbsp; | &nbsp;</span>
								<span id="isCashOnDelivery"></span>
								
							</div>
						</li>
					</ul>
					<div id="brand-bar-pop">
						<div class="shop-message">
							<p>商家：
								<span>贵农严选</span>
							</p>
							<div class="contact">
								<p>联系：</p>
								<div class="pop-com">
									<a href="javascipt:void(0)">
										<img src="../images/qq.png" alt="">
										<span>和我联系</span>
									</a>
								</div>
							</div>
						</div>
						<div class="evaluate-detail clear">
							<div class="mc">
								<dl class="clear">
									<dt class="fl">描述相符：</dt>
									<dd class="fl">
										<span>5.00</span>
										<i class="details-sprites"> </i>
										<em>持平</em>
									</dd>
								</dl>
								<dl class="clear">
									<dt class="fl">发货速度：</dt>
									<dd class="fl">
										<span>5.00</span>
										<i class="details-sprites"> </i>
										<em>持平</em>
									</dd>
								</dl>
								<dl class="clear">
									<dt class="fl">服务态度：</dt>
									<dd class="fl">
										<span>5.00</span>
										<i class="details-sprites"> </i>
										<em>持平</em>
									</dd>
								</dl>
							</div>
						</div>
						<div class="enter-shop">
							<a href="javascipt:void(0)" class="inshop"></a>
							<a href="javascipt:void(0)" class="likeshop"></a>								
						</div>
					</div>
					<ul class="choose">
						<li class="color clear">
							<div class="sp fl" style="margin-top:10px;width:51px">颜色：</div>
							<div class="dcol fl">
								<div class="items select">
									<b style="display:block">◆</b>
									<a href="javascipt:void(0)">
										<i>BULLS灰色</i>
									</a>
								</div>
								<div class="items">
									<b>◆</b>
									<a href="javascipt:void(0)">
										<i>X-藏青</i>
									</a>
								</div>
								<div class="items">
									<b>◆</b>
									<a href="javascipt:void(0)">
										<i>1947-黑白</i>
									</a>
								</div>
								<div class="items">
									<b>◆</b>
									<a href="javascipt:void(0)">
										<i>SNOB</i>
									</a>
								</div>
								<div class="items">
									<b>◆</b>
									<a href="javascipt:void(0)">
										<i>DGK黑色</i>
									</a>
								</div>
								<div class="items">
									<b>◆</b>
									<a href="javascipt:void(0)">
										<i>天才</i>
									</a>
								</div>
								<div class="items">
									<b>◆</b>
									<a href="javascipt:void(0)">
										<i>TKDK</i>
									</a>
								</div>
								<div class="items">
									<b>◆</b>
									<a href="javascipt:void(0)">
										<i>枫叶天蓝</i>
									</a>
								</div>
							</div>
						</li>
						<li class="amount clear">
							<div class="sp fl" style="width:51px">数量：</div>
							<div class="add fl">
								<div class="wrap-ipt fl">
									<a class="btn-reduce" href="javascript:void(0);">-</a>
									<a class="btn-add" href="javascript:void(0);">+</a>
									<input type="text" value="1" class="btn-count">
								</div>
							</div>
						</li>
						<li class="result">
							<em>已选择 </em>
							<strong id="hasselect">“BULLS灰色”</strong>
						</li>
						<li class="choose-btn clear">
							<div class="choose-buy">
								<a href="javascipt:void(0)">立即购买
									<b></b>
								</a>
							</div>
							<div class="choose-append">
								<a href="javascipt:void(0)">加入购物车
									<b></b>
								</a>
							</div>
						</li>
						<li class="erwei">
							<a href="javascipt:void(0)">扫一扫下单</a>
							<div class="erweiimg" id="erweiimg" >
								<img src="../images/dimension.png" alt="">
							</div>
						</li>
					</ul>
				</div>
				<div class="preview">
					<div class="preview-img">
						<div id="smallImg">
							<div id="smallCursor"></div>
						</div>
						<div id="bigCursor">
							<img id="bigImg" style="width:800px;height:800px;position: absolute; left: 0px; top: 0px;" src= <%= data.imgs %> />
						</div>
					</div>
					<div class="preview-list">
						<ul>
							<li>
								<img src= <%= data.imgs %> alt="">
							</li>
							<li>
								<img src= <%= data.imgs2 %> alt="">										
							</li>
							<li>
								<img src= <%= data.imgs3 %> alt="">
							</li>
						</ul>
					</div>
					<div class="append-goods">
						<a href="javascript:void(0)">收藏商品</a>
					</div>
					<div class="share">
						<p>分享到：</p>
						<div class="share-img">
							<a href="javascipt:void(0)" class="sha1"></a>
							<a href="javascipt:void(0)" class="sha2"></a>
							<a href="javascipt:void(0)" class="sha3"></a>
							<a href="javascipt:void(0)" class="sha4"></a>
							<a href="javascipt:void(0)" class="sha5"></a>
							<a href="javascipt:void(0)" class="sha6"></a>								
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="w">
			<div class="similar clear">
				<div class="similar-left fl">
					<div class="similar-tittle">
						<h3>同类选购</h3>
					</div>
					<ul class="left-list">
						<li class="left-li">
							<a href="javascipt:void(0)">
								<img src= "../images/goodslist/g1.jpg"> >
							</a>
							<p class="dena"><a href="javascript:void(0)">（爆品池）新款夏季韩版时尚印花T恤中长款网纱裙两件套连衣裙</a></p>
							<p class="depr">￥39.00</p>
						</li>
						<li class="left-li">
							<a href="javascipt:void(0)">
								<img src= "../images/goodslist/g2.jpg"> >
							</a>
							<p class="dena"><a href="javascript:void(0)">（爆品池）夏季户外帽子男大沿防晒帽遮阳帽男防紫外线钓鱼帽渔夫帽男太阳帽</a></p>
							<p class="depr">￥69.00</p>
						</li>
						<li class="left-li">
							<a href="javascipt:void(0)">
								<img src= "../images/goodslist/g3.jpg"> >
							</a>
							<p class="dena"><a href="javascript:void(0)">（爆品池）帽子男夏天棒球帽韩版嘻哈帽青年百搭时尚春天休闲太阳户外遮阳帽</a></p>
							<p class="depr">￥79.00</p>
						</li>
						<li class="left-li">
							<a href="javascipt:void(0)">
								<img src= "../images/goodslist/g4.jpg"> >
							</a>
							<p class="dena"><a href="javascript:void(0)">（爆品池）防晒帽子女夏天骑车护脸遮阳帽电动车太阳帽电瓶车户外遮脸可折叠</a></p>
							<p class="depr">￥9.90</p>
						</li>
						<li class="left-li">
							<a href="javascipt:void(0)">
								<img src= "../images/goodslist/g5.jpg"> >
							</a>
							<p class="dena"><a href="javascript:void(0)">（爆品池）2017春季新款真丝围巾夏季防晒两用披肩桑蚕丝巾女士百搭沙滩纱巾</a></p>
							<p class="depr">￥79.00</p>
						</li>
					</ul>
				</div>
				<div class="similar-right fr">
					<div class="similar-details">
						<div class="similar-tittle2">
							<ul class="tab">
								<li class="cur">
									<span>
										<a href="javascript:void(0)">商品介绍
											<b class="b"></b>
										</a>
									</span>
								</li>
								<li class="">
									<span>
										<a href="javascript:void(0)">规格参数
											<b class=""></b>
										</a>
									</span>
								</li>
								<li class="">
									<span>
										<a href="javascript:void(0)">包装清单
											<b class=""></b>
										</a>
									</span>
								</li>
								<li class="">
									<span>
										<a href="javascript:void(0)">商品评价
											<span class="spans">0</span>
											<b class=""></b>
										</a>
									</span>
								</li>
								<li class="">
									<span>
										<a href="javascript:void(0)">商品资讯
											<span class="spans">0</span>													
											<b class=""></b>
										</a>
									</span>
								</li>
							</ul>
						</div>
						<div class="similar-content">
							<ul class="cont1">
								<li>商品名称：（爆品池）夏季户外帽子男大沿防晒帽遮阳帽男防紫外线钓鱼帽渔夫帽男太阳帽</li>
								<li>商品货号：</li>
								<li>品牌：</li>
							</ul>
						</div>
						<div class="similar-content" style="display:none">
							<p>上市时间: 2015年春季是否商场同款: 是适用场景: 出游适用对象: 中年 少年 情侣 老年 青年款式: 遮阳帽尺码: 大小可调节（买就送冰丝手袖）帽顶款式: 圆顶帽檐款式: 宽檐檐形: 平檐主要材质: 其他人群: 通用品牌: 梵迪加风格: 休闲款式细节: 其他颜色分类: 新推出加大码60-64 迷彩2加大码 新推出加大码60-64 迷彩5加大码 新推出加大码60-64 深灰色加大码 新推出加大码60-64 浅灰色加大码 新到迷彩色1 迷彩色2 迷彩色3 迷彩色5 迷彩色6 迷彩色7 迷彩色8 迷彩色9 深灰色 浅灰色 新到卡其色 军绿色 玫红色 军绿色（新到拼色迷彩款全方位） 帽顶可拆卸4 迷彩101 迷彩103 迷彩104货号: FDJ15017适用季节: 夏季</p>
						</div>
						<div class="similar-content" style="display:none">
							<p>原厂包装</p>
						</div>
						<div class="similar-content" style="display:none">
							<hr style="color:#666">
							<p>商品评价</p>
						</div>
						<div class="similar-content" style="display:none">
							<p>温馨提示:因厂家更改产品包装、产地或者更换随机附件等没有任何提前通知，且每位咨询者购买情况、提问时间等不同，为此以下回复仅对提问者3天内有效，其他网友仅供参考！若由此给您带来不便请多多谅解，谢谢！</p>
						</div>
					</div>
					<div class="similar-img">
						<p>
							<img src="../images/details/waterfall/wall7.jpg" alt="">
						</p>
						<p>
							<img src="../images/details/waterfall/wall8.jpg" alt="">
						</p>
						<p class="pimg"><img src="" alt=""></p>
						<p class="pimg"><img src="" alt=""></p>
						<p class="pimg"><img src="" alt=""></p>
						<p class="pimg"><img src="" alt=""></p>
						<p class="pimg"><img src="" alt=""></p>
						<p class="pimg"><img src="" alt=""></p>
					</div>
				</div>
			</div>
		</div>
	</script>
	<body>
        <div id="top"></div>
        <div id="rightside"></div>
        <div class="details-content">
            
			
        </div>
        <div id="foot"></div>
        
	</body>
    <script data-main="../js/my-pluin/details.js" src="../js/require.js"></script>
</html>
